@page
@model Demo_Sharepoint_API.Pages.DemoSharepointModel
@{
}

<h1>@ViewData["Title"]</h1>

<p>This is Sharepoint Demo</p>

<button id="sharepoint-login"
        type="button">
    <a class="nav-link text-dark" asp-area="" asp-page="/LoginSharepoint">Connect to your Sharepoint</a>
</button>