@page
@model Demo_Sharepoint_API.Pages.SharepointUIModel
@{
}

<h1>Workspace </h1>

<button id="sharepoint-login"
        type="button"
        onclick="TransferAll()">

    Transfer all Bill of Lading
</button>

<button id="sharepoint-login"
        type="button">

    <a class="nav-link text-dark" asp-area="" asp-page="/LoginSharepoint">Transferring selected Bill of Lading</a>
</button>

<button id="sharepoint-login"
        type="button">

    <a class="nav-link text-dark" asp-area="" asp-page="">More to come</a>
</button>
